<%= form_for(@admins_news) do |f| %>
  <% if @admins_news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admins_news.errors.count, "error") %> prohibited this admins_news from being saved:</h2>

      <ul>
      <% @admins_news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>

  <div class="textarea">
    <%= f.label :headline %><br>
    <%= f.text_field :headline %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description%>
  </div>

  <div class="textarea">
    <%= f.label :news_type %><br>
    <%= f.select(:news_type, Admins::News.news_types.map { |v| [v,v]}) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
