<div>
	<div class="nav">
		<ul class="nav nav-tabs">
			<li><%= link_to "Page Manager", pages_path %></li>
			<li><%= link_to "Events Manager", news_path %></li>
			<li><%= link_to "Messages", messages_path %></li>
		</ul>
	</div>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

 