<div>
	<div class="nav">
		<ul class="nav nav-tabs">
			<li><%= link_to "Home", home_path %></li>
			<li><%= link_to "About Us", about_us_path %></li>
			<li><%= link_to "Academics", academics_path %></li>
			<li><%= link_to "Events", news_path %></li>
			<li><%= link_to "Contact Us", contact_us_path %></li>
			<li><%= link_to "Website Manager", website_manager_path %></li>
			<li><%= login_or_logout_link %></li>
		</ul>
	</div>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<p class="notice"><%= current_user.email unless current_user.nil?%></p>

 